<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.typesafe.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>typesafe</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TypeSafe needs access to your photos to automatically scan screenshots for scams when you tap "Scan Now" from the keyboard. We only access the most recent screenshot when you request a scan.</string>
</dict>
</plist>
